.blogs-card {
    --blogsCardHeight: 180px;

    position: relative;
    max-width: 450px;

    &__body {
        position: absolute;
        bottom: calc((var(--blogsCardHeight) / 2) * -1);
        left: 50%;
        translate: -50% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        row-gap: 20px;
        width: 90%;
        min-height: var(--blogsCardHeight);
        padding: 20px;
        background-color: var(--color-light);
        box-shadow: var(--shadow);
        border-radius: var(--border-radius-large);

        @include tablet {
            --blogsCardHeight: 150px;
        }
    }

    &__description {
        @include fluid-text(18, 20);

        font-weight: 600;
        color: var(--color-dark-grey);
        line-height: 1.5;
    }
}