.input {
    min-width: 270px;
    padding: 12px 16px;
    padding-right: 40px;
    font-size: 15px;
    color: var(--color-light);
    background-color: var(--color-dark-grey);
    border: none;
    border-radius: var(--border-radius-large);
    outline: none;

    &::placeholder {
        color: var(--color-light-grey);
    }
}