.link {
    @include fluid-text(16, 18);

    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;
    color: var(--color-accent);
    transition-property: opacity;
    transition-duration: var(--transition-duration);

    @include hover {
        opacity: 0.7;
    }
}