.membership {
  &__header {
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 50px;

    @include tablet {
        justify-content: center;
    }
  }
}
